@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

input,
textarea,
select,
button {
  font-family: "Muli-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
}

p,
h5,
h6,
span {
  font-family: 'Jost',
    sans-serif;
}

/* *********Ielts main head section********** */
.about {
  padding: 4% 0;
  background-color: #f8f9f8;
  position: relative;
  z-index: 1;
}

.head {
  padding: 0 5rem;
}

.main-head-content {
  text-align: left;
  padding: 8rem 0;
  position: relative;
}

.main-head-content img {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: -1;
}

.about h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 800;
  color: #3b1d82;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.1rem;
  word-spacing: 1px;
  color: #606060;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 500;
}

.main-form {
  position: relative;
}

.main-form .banner-img1 {
  position: absolute;
  bottom: 0;
  left: 3%;
  z-index: -1;
}

.main-form .banner-img2 {
  position: absolute;
  right: 15%;
  top: 0;
  z-index: -1;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
ul,
li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.container-contact2 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219, 21, 99, 0.8);
  background: -webkit-linear-gradient(45deg, rgba(213, 0, 125, 0.8), rgba(229, 57, 53, 0.8));
  background: -o-linear-gradient(45deg, rgba(213, 0, 125, 0.8), rgba(229, 57, 53, 0.8));
  background: -moz-linear-gradient(45deg, rgba(213, 0, 125, 0.8), rgba(229, 57, 53, 0.8));
  background: linear-gradient(45deg, rgba(213, 0, 125, 0.8), rgba(229, 57, 53, 0.8));
}

.wrap-contact2 {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.5rem 2rem;
}

/*-----------------------------------------------*/
.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 2rem;
  color: #221638;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 1.2rem;
}

/*------------------------------------------------------------------ */
.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 20px;
}

.input2 {
  display: block;
  width: 100%;
  font-family: Poppins-Regular;
  font-size: 1.2rem;
  color: #4b5280;
  line-height: 1.2;
  position: relative;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(219, 21, 99, 1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Poppins-Regular;
  font-size: 1.2rem;
  color: #999999;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2+.focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2+.focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus+.focus-input2::after {
  top: -13px;
}

.input2:focus+.focus-input2::before {
  width: 100%;
}

.has-val.input2+.focus-input2::after {
  top: -13px;
}

.has-val.input2+.focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219, 21, 99, 1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/* ***********our services********** */
.our-services {
  padding: 3% 0;
  position: relative;
}

.our-services h1 {
  color: #3b1d82;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.services-head {
  background: url(../img/feature-icon-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 35px;
  margin-bottom: 15px;
}

.services-head span {
  font-size: 2.8rem;
  color: #3b1d82;
  font-weight: 500;
}

.services-body h3 {
  color: #221638;
  font-size: 1.8rem;
  margin: .6rem 0;
}

.services-body p {
  color: #606060;
  font-size: 1.2rem;
}


/* **********what we provide section********** */
.provides {
  padding: 3% 0 1% 0;
  background-color: #f7f7f7;
  position: relative;
}

.provides::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/shape15.png);
  background-position: center;

}

.provide-head {
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
}

.provide-head h1 {
  color: #3b1d82;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.provide-box-img {
  padding: 1rem;
}

.img-box1 img {
  margin-left: 0;
  margin-right: auto;
}

.img-box2 img {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.img-box3 img {
  margin-left: auto;
  margin-right: 0;
}

.img-box4 img {
  margin-left: 0;
  margin-right: auto;
}

.provide-box-img img {
  width: 100%;
  max-width: 55%;
  display: block;
}

.provide-box {
  text-align: left;
}


.provide-box h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #221638;
  line-height: 2;
  padding: .2rem 0;
}

.provide-box i {
  color: #fe4a55;
  font-size: 2rem;
  margin-right: 10px;
}

/* *******schedule section******** */

.schedule-section {
  padding: 3% 0;
  position: relative;
}

.schedule-head {
  margin-bottom: 2rem;
}

.schedule-head h1 {
  color: #3b1d82;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.schedule-box {
  position: relative;
  padding: 1rem;
  height: 100%
}

.batch-box {
  background: transparent;
  box-shadow: 0px 8px 17px 3px rgba(0, 0, 0, .1);
  /* border-radius: 25px 25px 0 0; */
  border-top-right-radius: 80px;
  height: 100%;
  position: relative;
  border-bottom-left-radius: 80px;
}

.batch-head {
  position: relative;
  padding: 1.2rem 1rem;
  background: linear-gradient(174deg, #fff 0%, #e8e8e8 110%);
  border-top-right-radius: 80px;
}

.batch-head img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 20%;
  height: auto;
}

.batch-body {
  padding: 2rem 1rem;
  position: relative;
  border-bottom-left-radius: 80px;
  line-height: 1.8;
}

.batch-head h3 {
  color: #221638;
  font-size: 1.5rem;
  font-weight: 500;
}

.batch-box img {
  position: absolute;
  width: 100%;
  max-width: 18%;
  bottom: 0;
  right: 0;
}

.batch-body h4 {
  color: #4b5280;
}

.batch-body span {
  font-size: 1.2rem;
  display: block;
  color: #606060;
  font-weight: 600;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width:768px) {
  .main-head-content {
    text-align: left;
    padding: 2rem 0;
  }
}

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}

@media (max-width: 450px) {
  .head {
    padding: 0 2rem;
  }

  .main-head-content {
    text-align: left;
    padding: 2rem 0;
  }
}

@media (max-width: 350px) {
  .head {
    padding: .5rem;
  }

  .main-head-content {
    text-align: left;
    padding: .5rem 0;
  }
}

@media (max-width:1600px) and (min-width:1400px) {
  .main-form {
    padding: .8rem 8rem;
  }
}

@media (max-width:1400px) and (min-width:1200px) {
  .main-form {
    padding: .8rem 4rem;
  }

  .main-head-content {
    padding: 4rem 0;
  }
}

@media (max-width:1200px) and (min-width:900px) {
  .main-form {
    padding: .8rem 3.5rem;
  }

  .main-head-content {
    padding: 4rem 0;
  }
}

@media (max-width:768px) and (min-width:600px) {
  .main-form {
    padding: .8rem 5rem;
  }
}